In [121]:
import polars as pol

In [122]:
with pol.Config() as cfg:
    cfg.set_tbl_cols(5)
    cfg.set_tbl_rows(5)

# Load parquet files

In [123]:
df_metadata = pol.read_parquet("../data/raw/metadata1.parquet", 
                      columns=["asin","brand","category", "date", "main_cat", "price","rank", "title", "image"], 
                      n_rows=50)

# Functions

In [138]:
def save_file(df, t):
    p = str.format("../data/processed/{}.json", t)
    df.write_json(p)

# EDA

In [125]:
print(df_metadata.shape)
print(type(df_metadata))

(50, 9)
<class 'polars.dataframe.frame.DataFrame'>

In [126]:
df_metadata.sample(5)

shape: (5, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ asin      ┆ brand     ┆ category  ┆ date      ┆ … ┆ price     ┆ rank      ┆ title     ┆ image    │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ list[str] ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ list[str │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ]        │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 729300594 ┆ BSK       ┆ ["Clothin ┆           ┆ … ┆           ┆ 4,044,815 ┆ BSK       ┆ ["https: │
│ 6         ┆ Eyewear   ┆ g, Shoes  ┆           ┆   ┆           ┆ in Sports ┆ Eyewear   ┆ //images │
│           ┆           ┆ &         ┆           ┆   ┆           ┆ &         ┆ Unisex    ┆ -na.ssl- │
│           ┆           ┆ Jewelry", ┆           ┆   ┆           ┆ Outdoors  ┆ (Mens /   ┆ images-a │
│           ┆           ┆ "W…       ┆           ┆   ┆           ┆ (         ┆ Womes…    ┆ …        │
│ 631978161 ┆ Alion     ┆ ["Clothin ┆ <div clas ┆ … ┆ $24.88 -  ┆ 14,151,91 ┆ Alion     ┆ ["https: │
│ 0         ┆           ┆ g, Shoes  ┆ s="a-fixe ┆   ┆ $26.88    ┆ 3 in      ┆ Women     ┆ //images │
│           ┆           ┆ &         ┆ d-left-gr ┆   ┆           ┆ Clothing, ┆ Classic   ┆ -na.ssl- │
│           ┆           ┆ Jewelry", ┆ id a-…    ┆   ┆           ┆ Shoes & … ┆ Sexy      ┆ images-a │
│           ┆           ┆ "W…       ┆           ┆   ┆           ┆           ┆ Plunge …  ┆ …        │
│ 634250625 ┆ Gaok      ┆ ["Clothin ┆ <div clas ┆ … ┆ $26.99    ┆ 2,877,972 ┆ Gaok      ┆ ["https: │
│ 6         ┆           ┆ g, Shoes  ┆ s="a-fixe ┆   ┆           ┆ in        ┆ Men's     ┆ //images │
│           ┆           ┆ &         ┆ d-left-gr ┆   ┆           ┆ Clothing, ┆ Retro     ┆ -na.ssl- │
│           ┆           ┆ Jewelry", ┆ id a-…    ┆   ┆           ┆ Shoes &   ┆ Cotton    ┆ images-a │
│           ┆           ┆ "M…       ┆           ┆   ┆           ┆ J…        ┆ Multi-Po… ┆ …        │
│ 634252209 ┆ OLO       ┆ ["Clothin ┆           ┆ … ┆ $3.29     ┆ 936,295   ┆ Crazy Exp ┆ ["https: │
│ X         ┆           ┆ g, Shoes  ┆           ┆   ┆           ┆ in Sports ┆ losion-pr ┆ //images │
│           ┆           ┆ &         ┆           ┆   ┆           ┆ &         ┆ oof Lens  ┆ -na.ssl- │
│           ┆           ┆ Jewelry", ┆           ┆   ┆           ┆ Outdoors  ┆ Polar…    ┆ images-a │
│           ┆           ┆ "W…       ┆           ┆   ┆           ┆ (         ┆           ┆ …        │
│ 748278278 ┆ Gifts by  ┆ ["Clothin ┆ Gifts by  ┆ … ┆ $10.99    ┆ 6,425,160 ┆ Unisex    ┆ ["https: │
│ 8         ┆ Lulee,    ┆ g, Shoes  ┆ Lulee,    ┆   ┆           ┆ in        ┆ Genuine   ┆ //images │
│           ┆ LLC       ┆ &         ┆ LLC       ┆   ┆           ┆ Clothing, ┆ Cowrie    ┆ -na.ssl- │
│           ┆           ┆ Jewelry", ┆           ┆   ┆           ┆ Shoes &   ┆ and Wood  ┆ images-a │
│           ┆           ┆ "M…       ┆           ┆   ┆           ┆ J…        ┆ S…        ┆ …        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

# Preprocessing and feature generation

In [127]:
# Primero se cuentan cuantas imagenes tiene el producto y la cantidad de categorias a las que esta asociado
# luego se eliminan las columnas IMAGE y CATEGORY

df_metadata = df_metadata.with_columns(( pol.col("image").list.lengths()).alias("cant_image")).drop("image")
df_metadata = df_metadata.with_columns(( pol.col("category").list.lengths()).alias("cant_category")).drop("category")
df_metadata.sample(2)

shape: (2, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ asin      ┆ brand     ┆ date      ┆ main_cat  ┆ … ┆ rank      ┆ title     ┆ cant_imag ┆ cant_cat │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ e         ┆ egory    │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ u32       ┆ u32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 634252057 ┆ Y-BIN     ┆ <div clas ┆ <img src= ┆ … ┆ 3,644,131 ┆ Y-BIN     ┆ 3         ┆ 9        │
│ 7         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆ in        ┆ Women's   ┆           ┆          │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆ Clothing, ┆ Capri     ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆ Shoes &   ┆ Tights    ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ J…        ┆ leggi…    ┆           ┆          │
│ 729300594 ┆ BSK       ┆           ┆ Sports &  ┆ … ┆ 4,044,815 ┆ BSK       ┆ 1         ┆ 5        │
│ 6         ┆ Eyewear   ┆           ┆ Outdoors  ┆   ┆ in Sports ┆ Eyewear   ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ &         ┆ Unisex    ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ Outdoors  ┆ (Mens /   ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ (         ┆ Womes…    ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [128]:
# de la columna DATE se extrae la unica info que me parece util y se borra todo el HTML existente, la info util
# es basicamente un ranking algo como 5 star 4 star 3 star y si consecutivamente
df_metadata = df_metadata.with_columns(( pol.col("date").str.extract(r"[0-5]", 0))
                                       .alias("cant_star_from_date")) #.drop("date")
df_metadata.sample(3)

shape: (3, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ asin      ┆ brand     ┆ date      ┆ main_cat  ┆ … ┆ title     ┆ cant_imag ┆ cant_cate ┆ cant_sta │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ e         ┆ gory      ┆ r_from_d │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆ ---       ┆ ---       ┆ ate      │
│           ┆           ┆           ┆           ┆   ┆           ┆ u32       ┆ u32       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 634250231 ┆ Crazy     ┆ <div clas ┆ <img src= ┆ … ┆ Crazy     ┆ 11        ┆ 8         ┆ 2        │
│ 5         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆ Women's   ┆           ┆           ┆          │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆ Voile     ┆           ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆ Crinkle   ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ Scar…     ┆           ┆           ┆          │
│ 729300594 ┆ BSK       ┆           ┆ Sports &  ┆ … ┆ BSK       ┆ 1         ┆ 5         ┆ null     │
│ 6         ┆ Eyewear   ┆           ┆ Outdoors  ┆   ┆ Eyewear   ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ Unisex    ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ (Mens /   ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ Womes…    ┆           ┆           ┆          │
│ 634252300 ┆ FQQ       ┆ <div clas ┆ <img src= ┆ … ┆ FQQ       ┆ 3         ┆ 12        ┆ 2        │
│ 2         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆ Women's   ┆           ┆           ┆          │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆ Sexy      ┆           ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆ Lingerie  ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ Babydo…   ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [129]:
# en la columna MAIN_CAT se elimina todo el HTML existente ya que como tal no dice nada acerca de la categoria a la que pertenece
df_metadata = df_metadata.with_columns(( pol.col("main_cat").str.replace(r"^<.*$", "") )
                                       .alias("main_category_clean")) #.drop("main_cat")
df_metadata.sample(3)


# si la columna main_cat lo que tiene e HTML basicamente lo cambia por un espacio en blanco ya que como tal no hay categoria 
# en ese caso habria que ver de donde se obtiene esa categoria para ser usada
# o
# si vamos a centrarnos solo en una sola categoria este problema se evitaria por completo ya que 
# todos los records deberian venir con ese campo válido

shape: (3, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ asin      ┆ brand     ┆ date      ┆ main_cat  ┆ … ┆ cant_imag ┆ cant_cate ┆ cant_star ┆ main_cat │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ e         ┆ gory      ┆ _from_dat ┆ egory_cl │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ ---       ┆ ---       ┆ e         ┆ ean      │
│           ┆           ┆           ┆           ┆   ┆ u32       ┆ u32       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 631978161 ┆ Alion     ┆ <div clas ┆ <img src= ┆ … ┆ 2         ┆ 9         ┆ 2         ┆          │
│ 0         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆           ┆           ┆           ┆          │
│ 697638081 ┆ Suncolor8 ┆ <div clas ┆ <img src= ┆ … ┆ 4         ┆ 10        ┆ 2         ┆          │
│ 7         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆           ┆           ┆           ┆          │
│ 634251059 ┆ MengK     ┆ <div clas ┆ <img src= ┆ … ┆ 2         ┆ 4         ┆ 2         ┆          │
│ 8         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [164]:
#extraer el ranking de la columna rank
df_metadata = df_metadata.with_columns(( pol.col("rank").str.extract(r"[0-9,@._-]+", 0))
                                       .alias("clean_rank")) #.drop("main_cat")
df_metadata.sample(3)

shape: (3, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ asin      ┆ brand     ┆ date      ┆ main_cat  ┆ … ┆ cant_cate ┆ cant_star ┆ main_cate ┆ clean_ra │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ gory      ┆ _from_dat ┆ gory_clea ┆ nk       │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ ---       ┆ e         ┆ n         ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆ u32       ┆ ---       ┆ ---       ┆ str      │
│           ┆           ┆           ┆           ┆   ┆           ┆ str       ┆ str       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 730467882 ┆ Jdress    ┆ <div clas ┆ <img src= ┆ … ┆ 9         ┆ 2         ┆           ┆ 5,376,66 │
│ 8         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆           ┆           ┆           ┆ 5        │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆           ┆           ┆           ┆          │
│ 666555976 ┆ Honchosfx ┆ <div clas ┆ <img src= ┆ … ┆ 13        ┆ 2         ┆           ┆ 598,919  │
│ 9         ┆           ┆ s="a-fixe ┆ "https:// ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ d-left-gr ┆ images-na ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ id a-…    ┆ .ssl-…    ┆   ┆           ┆           ┆           ┆          │
│ 633875045 ┆ F ARMAF   ┆           ┆ Amazon    ┆ … ┆ 7         ┆ null      ┆ Amazon    ┆ 236,120  │
│ 8         ┆           ┆           ┆ Home      ┆   ┆           ┆           ┆ Home      ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

# Save temp file

In [139]:
#save_file(df_metadata, 'tmp_metadata')