In [2]:
import polars as pl

In [3]:
# Read the df's
metadata1 = pl.read_parquet("metadata1_processed.parquet")
metadata2 = pl.read_parquet("metadata2_processed.parquet")
metadata3 = pl.read_parquet("metadata3_processed.parquet")
metadata4 = pl.read_parquet("metadata4_processed.parquet")
metadata5 = pl.read_parquet("metadata5_processed.parquet")
metadata6 = pl.read_parquet("metadata6_processed.parquet")
###metadata7 = pl.read_parquet("metadata7_processed.parquet")
metadata8 = pl.read_parquet("metadata8_processed.parquet")
metadata9 = pl.read_parquet("metadata9_processed.parquet")
metadata10 = pl.read_parquet("metadata10_processed.parquet")
metadata11 = pl.read_parquet("metadata11_processed.parquet")
metadata12 = pl.read_parquet("metadata12_processed.parquet")
metadata13 = pl.read_parquet("metadata13_processed.parquet")
metadata14 = pl.read_parquet("metadata14_processed.parquet")
metadata15 = pl.read_parquet("metadata15_processed.parquet")

In [ ]:
# Concat the df's
metadata = pl.concat([metadata1,metadata2,metadata3,metadata4,metadata5,
           metadata6,metadata8,metadata9,metadata10,metadata11,
           metadata12,metadata13,metadata14,metadata15])

metadata.head()

In [15]:
metadata.write_parquet('all_metadata.parquet')

In [ ]:
metadata['main_category'].value_counts().sort(by='counts', descending=True)[:20]

In [ ]:
# Get all products that are books
metadata_cat = metadata[["asin", "main_category"]]
metadata_books = metadata_cat.filter(pl.col('main_category') == "Books")
metadata_books.head(2)

In [ ]:
metadata_books = metadata_books['asin']
metadata_books = metadata_books.unique()
metadata_books

In [20]:
metadata_books = pl.DataFrame(metadata_books)
metadata_books.write_parquet('asin_books.parquet')

In [ ]:
# Get all metadata from books
all_metadata_books = metadata.filter(pl.col('main_category') == "Books")
all_metadata_books.head(5)

In [7]:
# Convert from polars to parquet: all_metadata_books
all_metadata_books.write_parquet('all_metadata_books.parquet')

In [12]:
# Slice all_metadata_books in 4 pieces
all_metadata_books_1 = all_metadata_books[:716351]
all_metadata_books_2 = all_metadata_books[716352:1432704]
all_metadata_books_3 = all_metadata_books[1432705:2149056]
all_metadata_books_4 = all_metadata_books[2149057:]

print(all_metadata_books_1.shape)
print(all_metadata_books_2.shape)
print(all_metadata_books_3.shape)
print(all_metadata_books_4.shape)

(716351, 13)
(716352, 13)
(716351, 13)
(716349, 13)

In [14]:
# Convert from polars to parquet: all_metadata_books1,2,3,4
all_metadata_books_1.write_parquet('all_metadata_books_1.parquet')
all_metadata_books_2.write_parquet('all_metadata_books_2.parquet')
all_metadata_books_3.write_parquet('all_metadata_books_3.parquet')
all_metadata_books_4.write_parquet('all_metadata_books_4.parquet')

In [15]:
# Slice all_metadata_books_1 and convert
all_metadata_books_1a = all_metadata_books_1[:350000]
all_metadata_books_1b = all_metadata_books_1[350001:]

all_metadata_books_1a.write_parquet('all_metadata_books_1a.parquet')
all_metadata_books_1b.write_parquet('all_metadata_books_1b.parquet')

# Filter "all_metadata_books"

In [24]:
# 2.8M rows is still to heavy for a PBI report: lag and bad User experience, we will continue fitlering according to these criterias:
# - also_view & also_buy out: we're not going to do anything with those lists
# - date: too few books have publish date
# = main_category: we already know they are all books
all_metadata_books = all_metadata_books.drop(['also_buy','also_view','date','main_category'])
print(all_metadata_books.shape)
all_metadata_books.head()

(2865406, 9)

shape: (5, 9)
┌────────────┬────────────┬───────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ asin       ┆ brand      ┆ price ┆ title      ┆ … ┆ cant_cate ┆ rank_in_c ┆ also_buy_ ┆ also_view │
│ ---        ┆ ---        ┆ ---   ┆ ---        ┆   ┆ gory      ┆ ategory   ┆ count     ┆ _count    │
│ str        ┆ str        ┆ f64   ┆ str        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆       ┆            ┆   ┆ u32       ┆ i64       ┆ u32       ┆ u32       │
╞════════════╪════════════╪═══════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 6665559807 ┆            ┆ null  ┆ Mens Retro ┆ … ┆ 3         ┆ 2765038   ┆ 0         ┆ 1         │
│            ┆            ┆       ┆ Rescue     ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Team Not   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Assas…     ┆   ┆           ┆           ┆           ┆           │
│ 756392647X ┆ Li Ruliang ┆ 11.99 ┆ Understand ┆ … ┆ 3         ┆ 17076621  ┆ 0         ┆ 0         │
│            ┆            ┆       ┆ ing        ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Leadership ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ in One …   ┆   ┆           ┆           ┆           ┆           │
│ B0002UMZ4W ┆            ┆ null  ┆ Digital    ┆ … ┆ 3         ┆ 7535159   ┆ 0         ┆ 0         │
│            ┆            ┆       ┆ Mil.-style ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Utility    ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Shirt…     ┆   ┆           ┆           ┆           ┆           │
│ B0002UMZ4W ┆            ┆ null  ┆ Digital    ┆ … ┆ 3         ┆ 7535159   ┆ 0         ┆ 0         │
│            ┆            ┆       ┆ Mil.-style ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Utility    ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Shirt…     ┆   ┆           ┆           ┆           ┆           │
│ B0006S7GCQ ┆ Don Boyle  ┆ null  ┆ SS         ┆ … ┆ 3         ┆ 10727983  ┆ 0         ┆ 5         │
│            ┆            ┆       ┆ Totenkopf  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ H. Himmler ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ honor ri…  ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴───────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [29]:
# Remove all rows with atleast one null in the remaining columns
all_metadata_books = all_metadata_books.drop_nulls()
print(all_metadata_books.shape)
all_metadata_books.head()

(383553, 9)

shape: (5, 9)
┌────────────┬────────────┬───────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ asin       ┆ brand      ┆ price ┆ title      ┆ … ┆ cant_cate ┆ rank_in_c ┆ also_buy_ ┆ also_view │
│ ---        ┆ ---        ┆ ---   ┆ ---        ┆   ┆ gory      ┆ ategory   ┆ count     ┆ _count    │
│ str        ┆ str        ┆ f64   ┆ str        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆       ┆            ┆   ┆ u32       ┆ i64       ┆ u32       ┆ u32       │
╞════════════╪════════════╪═══════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 756392647X ┆ Li Ruliang ┆ 11.99 ┆ Understand ┆ … ┆ 3         ┆ 17076621  ┆ 0         ┆ 0         │
│            ┆            ┆       ┆ ing        ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Leadership ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ in One …   ┆   ┆           ┆           ┆           ┆           │
│ B00ELP4Q5U ┆            ┆ 16.94 ┆ Doctor Who ┆ … ┆ 3         ┆ 2370681   ┆ 0         ┆ 15        │
│            ┆            ┆       ┆ - Womens   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Fezes Are  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Co…        ┆   ┆           ┆           ┆           ┆           │
│ B00ELP4PU6 ┆            ┆ 16.94 ┆ Doctor Who ┆ … ┆ 3         ┆ 1188313   ┆ 0         ┆ 11        │
│            ┆            ┆       ┆ - Womens   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Fezes Are  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Co…        ┆   ┆           ┆           ┆           ┆           │
│ B01GXH68QI ┆ Matt       ┆ 16.49 ┆ TrainRite  ┆ … ┆ 3         ┆ 1358538   ┆ 1         ┆ 58        │
│            ┆ Cronin     ┆       ┆ Compact    ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Nutrition  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Jour…      ┆   ┆           ┆           ┆           ┆           │
│ B01H0GJ67E ┆ 33 Books   ┆ 8.99  ┆ 33 Leaves  ┆ … ┆ 5         ┆ 202046    ┆ 0         ┆ 54        │
│            ┆ Co.        ┆       ┆ of Tea     ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴───────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [31]:
# "brand" column cleaning
# Remove all brands that are: null, "Unknown", "Not Available", "N/A"
all_metadata_books = all_metadata_books.filter(
    (pl.col("brand") != "Unknown") | (pl.col("brand") != "Not Available") | (pl.col("brand") != "N/A") | (pl.col("brand") != "")
)
print(all_metadata_books.shape)
all_metadata_books.head()

(383553, 9)

shape: (5, 9)
┌────────────┬────────────┬───────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ asin       ┆ brand      ┆ price ┆ title      ┆ … ┆ cant_cate ┆ rank_in_c ┆ also_buy_ ┆ also_view │
│ ---        ┆ ---        ┆ ---   ┆ ---        ┆   ┆ gory      ┆ ategory   ┆ count     ┆ _count    │
│ str        ┆ str        ┆ f64   ┆ str        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆       ┆            ┆   ┆ u32       ┆ i64       ┆ u32       ┆ u32       │
╞════════════╪════════════╪═══════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 756392647X ┆ Li Ruliang ┆ 11.99 ┆ Understand ┆ … ┆ 3         ┆ 17076621  ┆ 0         ┆ 0         │
│            ┆            ┆       ┆ ing        ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Leadership ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ in One …   ┆   ┆           ┆           ┆           ┆           │
│ B00ELP4Q5U ┆            ┆ 16.94 ┆ Doctor Who ┆ … ┆ 3         ┆ 2370681   ┆ 0         ┆ 15        │
│            ┆            ┆       ┆ - Womens   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Fezes Are  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Co…        ┆   ┆           ┆           ┆           ┆           │
│ B00ELP4PU6 ┆            ┆ 16.94 ┆ Doctor Who ┆ … ┆ 3         ┆ 1188313   ┆ 0         ┆ 11        │
│            ┆            ┆       ┆ - Womens   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Fezes Are  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Co…        ┆   ┆           ┆           ┆           ┆           │
│ B01GXH68QI ┆ Matt       ┆ 16.49 ┆ TrainRite  ┆ … ┆ 3         ┆ 1358538   ┆ 1         ┆ 58        │
│            ┆ Cronin     ┆       ┆ Compact    ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Nutrition  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Jour…      ┆   ┆           ┆           ┆           ┆           │
│ B01H0GJ67E ┆ 33 Books   ┆ 8.99  ┆ 33 Leaves  ┆ … ┆ 5         ┆ 202046    ┆ 0         ┆ 54        │
│            ┆ Co.        ┆       ┆ of Tea     ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴───────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [35]:
# Check if we have duplicated books (asin)
all_metadata_books['asin'].value_counts().sort(by='counts',descending=True)[:5]

shape: (5, 2)
┌────────────┬────────┐
│ asin       ┆ counts │
│ ---        ┆ ---    │
│ str        ┆ u32    │
╞════════════╪════════╡
│ B0000CJVXY ┆ 2      │
│ B00005WQ1L ┆ 2      │
│ B00006LTBT ┆ 2      │
│ B00030BOTI ┆ 2      │
│ B00005WEH8 ┆ 2      │
└────────────┴────────┘

In [36]:
# Clean duplicates
all_metadata_books = all_metadata_books.unique(subset='asin')
print(all_metadata_books.shape)
all_metadata_books.head()

(383366, 9)

shape: (5, 9)
┌────────────┬────────────┬───────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ asin       ┆ brand      ┆ price ┆ title      ┆ … ┆ cant_cate ┆ rank_in_c ┆ also_buy_ ┆ also_view │
│ ---        ┆ ---        ┆ ---   ┆ ---        ┆   ┆ gory      ┆ ategory   ┆ count     ┆ _count    │
│ str        ┆ str        ┆ f64   ┆ str        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆       ┆            ┆   ┆ u32       ┆ i64       ┆ u32       ┆ u32       │
╞════════════╪════════════╪═══════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 0763790141 ┆ Brian Luke ┆ 43.45 ┆ Managing   ┆ … ┆ 3         ┆ 419694    ┆ 24        ┆ 8         │
│            ┆ Seaward    ┆       ┆ Stress: A  ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Creative   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Jour…      ┆   ┆           ┆           ┆           ┆           │
│ 0615976247 ┆ Visit      ┆ 11.97 ┆ Hyper-Grac ┆ … ┆ 3         ┆ 847812    ┆ 13        ┆ 6         │
│            ┆ Amazon's   ┆       ┆ e: The     ┆   ┆           ┆           ┆           ┆           │
│            ┆ D. R.      ┆       ┆ Dangerous  ┆   ┆           ┆           ┆           ┆           │
│            ┆ Silva Page ┆       ┆ Doctr…     ┆   ┆           ┆           ┆           ┆           │
│ 1946444448 ┆ Christine  ┆ 29.95 ┆ Google     ┆ … ┆ 3         ┆ 223391    ┆ 96        ┆ 60        │
│            ┆ Pinto      ┆       ┆ Apps for   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Littles:   ┆   ┆           ┆           ┆           ┆           │
│            ┆            ┆       ┆ Believe…   ┆   ┆           ┆           ┆           ┆           │
│ 1981364269 ┆ Visit      ┆ 11.99 ┆ Donald     ┆ … ┆ 3         ┆ 218816    ┆ 39        ┆ 58        │
│            ┆ Amazon's   ┆       ┆ Don't Grab ┆   ┆           ┆           ┆           ┆           │
│            ┆ Mike       ┆       ┆ That       ┆   ┆           ┆           ┆           ┆           │
│            ┆ McAllen    ┆       ┆ Pussy: Th… ┆   ┆           ┆           ┆           ┆           │
│            ┆ Page       ┆       ┆            ┆   ┆           ┆           ┆           ┆           │
│ 1481227041 ┆ Visit      ┆ 24.99 ┆ Natural    ┆ … ┆ 3         ┆ 57879     ┆ 11        ┆ 45        │
│            ┆ Amazon's   ┆       ┆ Harvest: A ┆   ┆           ┆           ┆           ┆           │
│            ┆ Paul &quot ┆       ┆ Collection ┆   ┆           ┆           ┆           ┆           │
│            ┆ ;Fotie&…   ┆       ┆ of…        ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴───────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [41]:
# Get the list of asin to match with reviews:
books_list = all_metadata_books['asin']
books_list = books_list.to_frame()
books_list.write_parquet('books_list.parquet')
print(books_list.shape)
books_list.head()

(383366, 1)

shape: (5, 1)
┌────────────┐
│ asin       │
│ ---        │
│ str        │
╞════════════╡
│ 0763790141 │
│ 0615976247 │
│ 1946444448 │
│ 1981364269 │
│ 1481227041 │
└────────────┘

In [42]:
# Polars to parquet -> all_metadata_books
all_metadata_books.write_parquet('all_metadata_books.parquet')

In [46]:
# Slice for only the books in the Top 25,000 by "rank_in_category" to get the LIST to match with reviews:
all_metadata_books_in_top25k = all_metadata_books.filter(pl.col("rank_in_category") < 25001)
print(all_metadata_books_in_top25k.shape)
all_metadata_books_in_top25k.head()

# Polars to parquet -> all_metadata_books_in_top25k
all_metadata_books_in_top25k.write_parquet('all_metadata_books_in_top25k.parquet')

(12049, 9)

In [45]:
# Get the list of asin's to match with reviews (only books in Top 25k):
books_list_top25k = all_metadata_books_in_top25k['asin']
books_list_top25k = books_list_top25k.to_frame()
books_list_top25k.write_parquet('books_list_top25k.parquet')
print(books_list_top25k.shape)
books_list_top25k.head()

(12049, 1)

shape: (5, 1)
┌────────────┐
│ asin       │
│ ---        │
│ str        │
╞════════════╡
│ 1565238788 │
│ 0062102788 │
│ 0143108085 │
│ 1974683923 │
│ 0345457684 │
└────────────┘